/**/

html { box-sizing: border-box;}
body { margin-left: 30%;
    margin-top: 100px;
padding: 0;
justify-content: center;
background: #E5E5E5;
}
img { max-width: 100%;}
a { text-decoration: none;}
*,*::before, *::after { box-sizing: inherit;}

.simple_photo {
    display: flex;
    max-width: 1280px;
    width: 100%;
    height: 1626px;
    align-items: center;
    background: #FFFFFFFF;
    position: relative;

}
.header-menu{
   display: flex;
   position: absolute;
    height: 78px;
    max-width: 1280px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    top: 0;
    left: 0;
}
.header-menu .menu{
    position: absolute;
    display: flex;
    max-width: 620px;
    width: 100%;
    height: 15px;
    /* left: 25.8%; */
    top: 32px;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

    .header-menu .menu .menu-list {
        display: flex;
        position: absolute;
        list-style-type: none;
        /* vertical-align: middle; */
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    .header-menu .menu-list .active-item{
        position: absolute;
        width: 68px;
        height: 27px;
        left: 0px;
        top: -6px;
        font-family: sans-serif 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #FF0000;
    }
    .second-item{
    position: absolute;
    width: 131px;
    height: 27px;
    left: 21.1%;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    }
.third-item{
    position: absolute;
    width: 87px;
    height: 27px;
    left: 343px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}
.fourth-item{
    position: absolute;
    width: 140px;
    height: 27px;
    left: 77.4%;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    padding-left: -22px;
    }
.active-item a{
    color: #FF0000;
}

.wrapper{
    display: flex;
    position: absolute;
    max-width: 1280px;
    width: 100%;
    height: 1546px;
    flex-direction: column;
    top: 78px;
    left: 0%;
}
.main {
    display: flex;
    position: absolute;
    max-width: 1280px;
    width: 100%;
    height: 1439px;
}

.logo{
    position: absolute;
    max-width: 1280px;
    width: 100%;
    height: 789px;
    background-image: url(./image\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    z-index: 100;
    top: 0;
    left: 0;
}
.box {
    display: flex;
    position: absolute;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    text-align: center;
    top: 790px;
    left: 0;
}
.box .content-title {
    position: absolute;
    max-width: 774px;
    height: 29px;
    left: 19.8%;
    top: 48px;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    
    color: #373737;
}
.content-text1 {
    position: absolute;
    max-width: 1145px;
    width: 100%;
    height: 132px;
    left: 5.3%;
    top: 115px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;

}
.content-text2 {
    position: absolute;
max-width: 1145px;
width: 100%;
height: 216px;
left: 5.3%;
top: 275px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;   
}

.main .button {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 191px;
    width: 100%;
    height: 51px;
    left: 42.5%;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
    }
span {
    position: absolute;
    max-width: 100%;
    height: 16px;
    left: 22.5%;
    top: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

    
.footer {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    height: 108px;
    font-family: 'Montserrat';
    margin: 0 auto;
    top: 1440px;
    left: 0;
    flex-direction: column;
}
.footer .copyright {
    position: absolute;
    max-width: 462px;
    height: 39px;
    left: 55.7%;
    top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat-Regular.ttf) format(truetype);
    font-style: normal; 
    font-weight: normal; 
    } 
    @font-face {
        font-family: 'Montserrat'; 
        src: url(./Montserrat-Bold.ttf) format(truetype);
        font-style: normal; 
        font-weight: bold; 
        } 